{{template "base" .}} {{define "content"}}
 <main role="main" >
        <section >
            <div class="container">
                <div class="col-12 align-items-center">
                    <div class="row">
                       <div class="mt-3">
                            <h1>Daily Productive Muslim
                               <br>  
                            </h1>
                           
                       </div>
                       <br>
                       <div class="col-12 align-items-center">
                            <div class="row mt-3">
                            <h2>Sorry, The Page Does Not Exist
                               <br> 
                            </h2>
                       </div >
                       </div>
                      
                        <div class="align-items-center col-12 mt-3">
                            <div class="row">
                            <h6>Would You like to?</h6>
                            <br>
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <div class="row">
                            <ol>
                                <li>
                                    <a class="nav-link" href="/">Go Back to the Home Page <span class="sr-only">(current)</span></a>
                                    <br> 
                                </li>
                                <li>
                                    <a class="nav-link" href="https://www.buymeacoffee.com/darinmilner">Make a donation</a>
                                    <br>  
                                </li>
                            </ol>
                        </div>
               
                          
                        <div class="col-12 mt-3">
                            <h3>Please consider a donation</h3>
                            <br>
                        </div>  
                       
                        <div class="col-12 mt-3">
                             <p>Donations will go towards app upkeep and making more halal content inshallah.</br>
                                JazakAllahu Khairun</p>
                            <br>
                        </div>
                        
                       <div class="col-12 mt-3">
                           <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
                            data-name="bmc-button" data-slug="darinmilner" data-color="#40DCA5" data-emoji=""
                            data-font="Cookie" data-text="Buy me a meal" data-outline-color="#000000"
                            data-font-color="#ffffff" data-coffee-color="#FFDD00"></script>
                       </div>
                        
                    </div>
                </div>
            </div>
        </section>

    </main>

{{end}}
